.not-found-page{
    color: white;
    margin-top: 80px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    height: calc(100% - 130px);
    width: 100%;
}

.not-found-content > *{
    margin-bottom: 30px;
}

.not-found-content > h1{
    padding: 0;
    font-size: 50px;
}

