*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #232549;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}



.movie-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 100px 10px;
    box-sizing: border-box;
}

.movie{
    position: relative;
    width: 250px;
    margin: 16px;
    color: white;
    box-sizing: border-box;
}

.movie-container img{
    width: 100%;
    height: 380px;
    border-radius: 6px;
}

.search{
    height: 20px;
    width: 300px;
    border-radius: 14px;
}